
.App { 
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}
header {
  padding: 20px 0px;
  width: 100%;
  border-bottom: 1px solid rgb(65, 65, 65);  
}
nav {
  width: 360px;
  height: 100%;
  display: inline-block;
  border-right: 1px solid rgb(65, 65, 65);
  padding: 1em;
}
main {
  display: inline-block;
  padding: 1em;
}
.menuNode {
  transition: 0.3s ease;
  cursor: pointer;
  display:inline;
  color: #ccc;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 20px;
}
.nodeRow, .nodeContainer {
  margin-bottom: 1em;
}
.menuNode:hover {
    color: white; 
}
.active {
  color: yellow;
}
ul {
  text-decoration: none;
  list-style: none;
}
.ulFix {
  margin-left: -40px;
}
.hasChildren {
  cursor: pointer;
  border: solid #ccc;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.hidden {
  visibility: hidden;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-items-center {
  -webkit-align-items: center;
  align-items: center;
}

.justify-content-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.child {
  padding-left: 15px;
}

.leaf {
  padding-left: 30px;
}